/* YOUR CUSTOM STYLES */

/* aggiungo lo stile per l'hr che divide le due row */
.extra-margins {
  /* creo due margini diversi sopra e sotto */
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

/* vogliamo ache aumentare lo spazio fra il main content, l'header ed  il footer che ora son troppo attaccati
*/
main {
  padding-top: 6.5rem;
  padding-bottom: 2rem;
}

/* aggiungo lo stile per la bkg img */
/*
setto altezza di tutti i componenti del nostro corpo della viewport al 100% di modo che occupi l'immagine tutta la viewport anche in altezza, inoltre centra verticalmente anche il contenuto della view
*/
html, body, .view {
  height: 100%;
}

/*
setta lo sfondo del div view con l'immagine di sfondo
che non si ripete, è centrato sia orizzontalmente che verticalmente ed è fisso
*/
.view {
   background: url("http://mdbootstrap.com/images/regular/city/img%20(17).jpg")no-repeat center center fixed;
    /* il valore cover setta la dimensione della immagine di modo che vada a coprire ogni spazio dello schermo */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* 
cambiamo il colore del testo dell'heading usando la classe flex-center e settandolo a bianco
*/
.flex-center {
  color: #fff;
}

/* aggiungo dello stile per le icone
della sezione contatti
*/
#contact .fa {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* 
aggiungiamo un pò di stile alla nostra navbar trasparente
*/
.navbar {
  /* le assegno color trasparente */
  background-color: transparent;
}

/*
assegno colore del testo bianco ai link dentro la navbar che sono Home, Feature, Pricing e About
*/
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

/*
sulla class .scrolling-navbar dell'elemento nav setto una transition per rendere il cambio colore smooth
*/

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}
/*
associo a classe .top-nav-collapse il cambio color sfondo
che prenderà nn appena il nav andrà sotto la posizione inziale
*/
.top-nav-collapse {
  background-color: #1C2331;
}

/*
setto invece il colore fisso della navbar per dispositivi con larghezza massima 768px;
dato che usare UNA NAVBAR TRASPARENTE SU MOBILE NON E' CONFORTEVOLE
*/
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}